
<!-- Modal za signup -->
<div id="alertModal" class="modal fade" role="dialog" >
 <!-- velicina modala-->
 <div class="modal-dialog modal-sm">
  <!-- Sadrzaj Modala -->
  <div class="modal-content">
   <!--Zaglavlje-->
   <!--Xic za zatvaranje-->
   <div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" >&times;</button>
    <label>Table4You</label>    
   </div>
  <!--Tijelo -->

   <div class="modal-body"> 
    <!--forma-->
    <label>{{text}}</label>
    <div id="confirmButtons">
     <button type="button" class="btn btn-warning">Yes</button>
     <button type="button" class="btn btn-default">No</button>
   </div>   
  </div>   
 
 <!--footer-->


</div>
</div>
</div>

{{yield}}