<nav class="col-md-2 col-sm-3 col-xs-3" id="myScrollspy">
      <ul id="sidebar" class="nav nav-pills nav-stacked" >
         <li class="active" id="mapActive"><a href="#section1" {{action "scrollMap"}}>Map</a></li>
        <li id="aboutActive"><a href="#section2" {{action "scrollAbout"}}>About</a></li>
        <li id="reservationActive"><a href="#section3" {{action "scrollReservation"}}>Reservation</a></li>
        <li><a href="#section4">Reviews</a></li>
      </ul>
    </nav>