/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: black;
}
.header
{
  background-color: white;
}
.fooPar
{
  color: gray;
}

.jumbotron 
{
    background: url('/assets/images/moving2.jpg') no-repeat center; 
    width:100%;
    max-height:250px;
    margin-bottom: 20px;
    

  animation-name: slidein;
  animation-duration: 100s;
  animation-iteration-count: infinite;  
}

/*@-webkit-keyframes chrome, inace @keyframes*/
@-webkit-keyframes slidein {
  from {
    background-position: center }

  to {
    background-position: top right}
     0%  {background-position: 50% 50%}
    10%  {background-position: 25% 25%}
    20%  {background-position: 75% 25%}
    30%  {background-position: 25% 75%}
    40%  {background-position: 75% 75%}
    50%  {background-position: 50% 50%}
    60%  {background-position: 75% 25%}
    70%  {background-position: 25% 25%}
    80%  {background-position: 75% 75%}
    90%  {background-position: 25% 75%}
   100%  {background-position: 50% 50%}

}
}

.margineSlike 
{
 margin: 0px 0px 0px 30px;
}

.carousel .item
{
  height: 190px;
}

#myCarousel
{
  margin: 40px 0px 40px 0px;
}

.dnoJumbotrona
{
  /*zavisi od velicine jumbotrona*/
  margin-top: 150px;
}

.glifikon
{
  color: gray;
}


.velicinaSlike
{
   height: 200px;
   width: 200px;


}
.adresa
{
  color: gray;
  text-align: center;
}

.horizontal-slider
{
    float:left;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 2%;
    overflow-y:hidden;
    overflow-x:hidden;
}

.celija {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    

}

.ime
{
  text-align: center;
}

.glyphiconStyle
{
  font-size: 200%;
  color: white;

}

.glyphicon-chevron-left
{
  font-size: 200%;

}

.glyphicon-chevron-right
{
  font-size: 200%;
}



.star-filled:before
{ 
  content: "\2605";
  position: absolute;
  color:gold;
}

.rating > span {
  position: relative;
  width: 1.1em;
}


.center {
    margin: auto;
    width: 40%;
    
}




