/* Sticky footer styles
-------------------------------------------------- */
html { 
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  overflow-x:hidden; 
}

.header
{
  background-color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: black;
}

.fooPar
{
  color: gray;
}

.restaurant-pic{
  width:100%;
  max-height:250px;
}

.pic-animation 
{
  background: url('/assets/images/moving2.jpg') no-repeat center; 
  width:100%;
  max-height:250px;
  margin-bottom: 20px;


  animation-name: slidein;
  animation-duration: 100s;
  animation-iteration-count: infinite; 

}

/*@-webkit-keyframes chrome, inace @keyframes*/
@-webkit-keyframes slidein {
  from {
    background-position: center }

    to {
      background-position: top right}
      0%  {background-position: 50% 50%}
      10%  {background-position: 25% 25%}
      20%  {background-position: 75% 25%}
      30%  {background-position: 25% 75%}
      40%  {background-position: 75% 75%}
      50%  {background-position: 50% 50%}
      60%  {background-position: 75% 25%}
      70%  {background-position: 25% 25%}
      80%  {background-position: 75% 75%}
      90%  {background-position: 25% 75%}
      100%  {background-position: 50% 50%}

    }
  }

  .margineSlike 
  {
   margin: 0px 0px 0px 30px;
 }



 .dnoJumbotrona
 {
  /*zavisi od velicine jumbotrona*/
  margin-top: 130px;
}


.glifikon
{
  color: gray;
}


.velicinaSlike
{
 height: 200px;
 width: 200px;


}

.reservationPic
{
  height: 150px;
  width: 150px;
}
.adresa
{
  color: gray;
  text-align: center;
}

.horizontal-slider
{
  float:left;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 2%;
  overflow-y:hidden;
  overflow-x:hidden;
}

.celija {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin-right: 10px;


}

.ime
{
  text-align: center;
}

.glyphiconStyle
{
  font-size: 200%;
  color: white;
}


#resMake{
  margin-top: 25px;
}

#resName{
  margin-top: 7px;
}

.postionLabel1
{
  margin-right: 40px; 
}

.postionLabel2
{
  margin-right: 40px;
  margin-left: 48px; 
}

.postionLabel3
{
  margin-right: 40px;
  margin-left: 20px; 
}

#resMake{
  display: inline;
}


#makeButton{
  margin-top: 1px;
}

.glyphicon-chevron-left
{ 
  font-size: 200%;

}

.glyphicon-chevron-right
{
  font-size: 200%;
}



.star-filled:before
{ 
  content: "\2605";
  position: absolute;
  color:gold;
}

.rating > span {
  position: relative;
  width: 1.1em;
}


.center {
  margin: auto;
  width: 60%;

}

.reservation-center{
  width: 40%;
  margin-left: 35%;
  margin-top: 3%;
}

/* Center the loader */
#loader {

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.input-error{
  color:red;
  font-weight: normal;
}

#reservationBorder{

  border: 2px solid gray;
  border-radius: 20px;
  height: 200px;

}

.reservation-pading
{
  padding-top: 25px;
  padding-right: 0px; 
  padding-bottom: 0px;
  padding-left: 50px;
}

.reservation-position{
  margin-top: 5%;
}

.complete-button{
  padding-top:10px;
}

.other-position{
  padding-top: 60px;
}

.alert {
  
  
  border: 1px solid transparent;
  border-radius: 10px;
  padding-left: 19%;
  margin-top: 2%;
  font-size: 170%;
  margin-left: 16%;
}

.reservation-title{
  padding-bottom: 20px;
}

#restaurantTitle{
  color:white;
  position: absolute; 
  top: 200px; 
  left: 0;
  margin-left: 50px; 

}

#ratingPic{
  position: absolute; 
  top: 270px; 
  left: 0;
  margin-left: 55px; 
}

h2 span { 
 color: white; 
 font: bold 24px/45px Helvetica, Sans-Serif; 
 letter-spacing: -1px;  
 background: rgb(0, 0, 0); /* fallback color */
 background: rgba(0, 0, 0, 0.7);
 padding: 10px; 
}

#map {
  width: 100%;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.map-canvas {
  height: 400px;
}




h1{
  margin-bottom: 30px;
  margin-top: 30px;
}

#all{
  margin-top: -3px;
}

#header {
  height:270px;
}


#sidebar.affix-top {
  position: static;
  margin-top:0px;
  width:162px;
}

#sidebar.affix {
  position: fixed;
  top:58px;
  width:162px;
}


.affix,.affix-top {
 position:static;
}

.scrollSection{
  height:400px; 
}
.admin-control{
  width: 15%;
  display: inline;
  margin-right: 2%;
  margin-bottom: 2%;

}  

input[type="file"] {
  display: inline;
  width: 19%;
  margin-right: 2%;
}

.addForm{
  margin-left: 10%;
  margin-bottom: 3%;
}

.editForm{
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 80%;
  padding-top: 1.5%;
  padding-left: 1%;
}

.admin-header{
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 35px;
  margin-left: 10%;
}

#admin-pic{
  height: 50px;
  width: 50px;
  margin-right: 2%;
  margin-top: -0.7%;
  margin-left: 1.5%;
}


#editButton{
  margin-left: -9%;
  margin-top: 1%;
}

#inputs{
  margin-left: 8%;
  width: 104%;
  margin-bottom: 1.5%;
}

.close{
  margin-left: -1%;
  margin-top: -1.6%;
  margin-right: 1%;
}

.parInline{
  display: inline;
  text-align: left;
}

.label-position{
  margin-left: 1%;
  margin-right: 12%;
}

.label-position1{
  margin-left: 1%;
  margin-right: 12%;
}

.label-position2{
  margin-left: 1%;
  margin-right: 12%;
}

.label-position3{
  margin-left: 1%;
  margin-right: 12%;
}

.btn-primary1{
  width: 8%;
}

.btn-danger{ 
  width: 10%;
}

#save{
  margin-top: 17%;
}

.btn-warning{
 width: 44%;
 margin-right: 5%;
}

.btn-default{
 width: 44%;
 margin-left: 5%;
}

#confirmButtons{
  margin-top: 2%;
}

.star{
  font-size: 23px;
}

.rate {
  unicode-bidi: bidi-override;
  direction: ltr;
  margin-right: 69%;
  transform: rotate(180deg);
}
.rate > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 50px;
  transform: rotate(36deg);
}
.rate > span:hover:before,
.rate > span:hover ~ span:before {
 content: "\2605";
 position: absolute;
 color:gold;
 direction: rtl;
}

.rate-label{
  color: gray;
  margin-left: 2%;
}

.position-reserve{
  margin-left: -3%;
  margin-right: 6%;
}


#backHome{
    margin-top: 9%;
    margin-left: 16%;
    margin-bottom: 3%;
}