/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: black;
}
.header
{
  background-color: white;
}
.fooPar
{
  color: gray;
}
.jumbotron 
{
    background: url('/assets/images/jumbotron.jpg')  center center;
    min-height: 400px;
   
}
.margineSlike 
{
 margin: 0px 0px 0px 30px;
}

.carousel .item
{
  height: 190px;
}

#myCarousel
{
  margin: 40px 0px 40px 0px;
}

.dnoJumbotrona
{
  /*zavisi od velicine jumbotrona*/
  margin-top: 300px;
}

.glifikon
{
  color: gray;
}


.velicinaSlike
{
   height: 200px;
   width: 200px;
}
.adresa
{
  color: gray;
  text-align: center;
}

.horizontalSlider
{
    float:left;
    width: 80%;
    overflow: auto;
    white-space: nowrap;
    margin-left: 10%;
    margin-bottom: 2%;
    overflow-y:hidden;
    overflow-x:hidden; 

}

.celija {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin-right: 10px;
}
.rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      font-size: 160%;
    }
.rating > span {
      display: inline-block;
      position: relative;
      width: 1.1em;
    }
.rating > span:hover,.rating > span:hover ~ span 
    {
      color: transparent;
    }
.rating > span:hover:before,.rating > span:hover ~ span:before {
       content: "\2605";
       position: absolute;
       left: 0;
       color:gold;
       

    }
.ime
{
  text-align: center;
}

.glyphiconStyle
{
  font-size: 200%;
  color: white;

}