<h1 class="admin-header">Add New Restaurant</h1>
{{add-component}}

<h1 class="admin-header">Edit or Delete Restaurant</h1>

{{#each model as |singleRestaurant|}}
{{edit-component name=singleRestaurant.name street=singleRestaurant.address.streetName city=singleRestaurant.address.city hours=singleRestaurant.workingHours image=singleRestaurant.image idColapse=singleRestaurant.restaurantId  }}
{{/each}}  