
<!--ovdje primjenjujes komponentu-->
  
<!--Jumbotron-->
<div > <!-- stavis jumbotron bez container klase i ide skroz do kraja.. -->
 <div class="jumbotron">
  {{reservation-component}} 
 </div>
</div>


	<!--aktivni element-->
  {{slider-component title="Popular restaurants"}}
   {{slider-component title="New restaurants"}}
       



