  
<!--Jumbotron-->
 <div > 
  <div class="jumbotron">
  
   <div class="container">

    {{reservation-component }} 
   </div>
  </div>
 </div>

	<!--aktivni element-->
   {{slider-component title="Popular restaurants"}}
   {{slider-component title="New restaurants"}}
      


