
<!--ovdje primjenjujes komponentu-->
  
<!--Jumbotron-->
<div > <!-- stavis jumbotron bez container klase i ide skroz do kraja.. -->
 <div class="jumbotron">

  <div class="row" class="container">

   <form role="form" class="dnoJumbotrona">

    <div class="col-md-2">
     <div class="form-group">
      <div class="row">
       <div class="col-md-1">
        <span class="glyphiconStyle glyphicon glyphicon-user "></span>
       </div>
       <div class="col-md-7">
        <input type="number" class="form-control" id="brojLjudi">
       </div>
      </div>
     </div>
    </div>

    <div class="col-md-3">
     <div class="form-group">
      <div class="row">
       <div class="col-md-1">
        <span class="glyphiconStyle glyphicon glyphicon-calendar"></span>
       </div>
       <div class="col-md-9">
        <input type="date" class="form-control" id="datum">
       </div>
      </div>
     </div>
    </div>
 			
 	<div class="col-md-2">
     <div class="form-group">
      <div class="row">
       <div class="col-md-2">
        <span class="glyphiconStyle glyphicon glyphicon-time"></span>
       </div>
       <div class="col-md-9">
        <input type="time" class="form-control" id="vrijeme">
       </div>
      </div>
     </div>
    </div>
          
    <div class="col-md-3">
     <div class="form-group">
      <div class="row">
       <div class="col-md-1">
        <span class="glyphiconStyle glyphicon glyphicon-cutlery"></span>
       </div>
       <div class="col-md-9">
        <input list="lista-restorana" class="form-control" id="listaRestorana">
        <datalist id="lista-restorana">
         <option>Restoran1</option>
         <option>Restoran2</option>
         <option>Restoran3</option>
        </datalist>
       </div>
      </div>
     </div>
    </div>

    <div class="col-md-2">  
     <a href="#" class="btn btn-primary">Make Reservation</a>
    </div>
   </form>

  </div>
 </div>


	<!--aktivni element-->

       {{index-component title="Popular restaurants"}}

       {{index-component title="New restaurants"}}
       
</div>


