<!--Jumbotron-->
<div class="container"> <!-- stavis jumbotron bez container klase i ide skroz do kraja.. -->
             
            
<div class="jumbotron">
       
<div class="row" >
<form role="form" class="dnoJumbotrona">

          <div class="col-md-1">
          <div class="form-group">
          <input type="number" class="form-control" id="brojLjudi">
          </div>
          </div>

          <div class="col-md-2">
          <div class="form-group">
          <input type="date" class="form-control" id="datum">
          </div>
          </div>
 			
 		  <div class="col-md-2">
          <div class="form-group">
          <input type="time" class="form-control" id="vrijeme">
          </div>
          </div>
          
          <div class="col-md-3">
          <div class="form-group">
            <input list="lista-restorana" class="form-control" id="listaRestorana">
            <datalist id="lista-restorana">
               <option>Restoran1</option>
               <option>Restoran2</option>
               <option>Restoran3</option>
            </datalist>
          </div>
          </div>

         <div class="col-md-2">  
         <a href="#" class="btn btn-primary">Make Reservation</a>
         </div>
</form>

</div>
</div>


	<!--POPULAR-->
<!--dodavanje carousel-a-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!--dodavanje elemenata carousel-a-->
<div class="row">
	     <div class="col-md-11">
	     <label>Popular Restaruants</label>   
	     <a href="#">See All</a>
	     </div>
	<!--lijeve i desne kontrole-->
	     <div class="col-md-1">
	     <a style="color:black" href="#myCarousel" role="button" data-slide="prev" > 
         <span  class="glyphicon glyphicon-chevron-left">&lt;</span>
	     </a>
	    
         <a style="color:black" href="#myCarousel" role="button" data-slide="next"> 
         <span  class="glyphicon glyphicon-chevron-right">&gt;</span>
         </a>
         </div> 

</div>    
	
<div class="carousel-inner" role="listbox">
	<!--aktivni element-->
		
<div class="item active" >
<div>
			<div style="display:inline-block;"class="col-md-3">
			<a href="#" class="slike" >
			<img  src='/assets/images/popular.jpg' alt="restoran1" class="img-rounded" style="width:200px;height:200px"  >
			</a>
			<p class="slike">Restoran1</p>
			<p style="color:gray" class="slike">Adresa</p>
			</div>
            
            <div style="display:inline-block;" class="col-md-3">
			<a href="#" class="slike" >
			<img src='/assets/images/popular.jpg' alt="restoran2" class="img-rounded" style="width:200px;height:200px"  >
			</a>
			<p class="slike">Restoran2</p>
			<p style="color:gray" class="slike">Adresa</p>
			</div>

			<div style="display:inline-block;" class="col-md-3">
			<a href="#" class="slike" >
			<img src='/assets/images/popular.jpg' alt="restoran3" class="img-rounded" style="width:200px;height:200px"  >
			</a>
			<p class="slike">Restoran3</p>
			<p style="color:gray" class="slike">Adresa</p>
			</div>
            
            <div style="display:inline-block;" class="col-md-3">
            <a href="#" class="slike" >
			<img  src='/assets/images/popular.jpg' alt="restoran4" class="img-rounded" style="width:200px;height:200px"  >
			</a>
			<p class="slike">Restoran4</p>
			<p style="color:gray" class="slike">Adresa</p>
			</div>
            
            
            

</div>
</div>
		
		<!--ostali elementi-->
		
<div class="item" >
<div>

			<div style="display:inline-block;"class="col-md-3">
			<a href="#" class="slike" >
			<img  src='/assets/images/new.jpg' alt="restoran1" class="img-rounded" style="width:200px;height:200px"  >
			</a>
			<p class="slike">Restoran1</p>
			<p style="color:gray" class="slike">Adresa</p>
			</div>
            
            <div style="display:inline-block;" class="col-md-3">
			<a href="#" class="slike" >
			<img src='/assets/images/new.jpg' alt="restoran2" class="img-rounded" style="width:200px;height:200px"  >
			</a>
			<p class="slike">Restoran2</p>
			<p style="color:gray" class="slike">Adresa</p>
			</div>

			<div style="display:inline-block;" class="col-md-3">
			<a href="#" class="slike" >
			<img src='/assets/images/new.jpg' alt="restoran3" class="img-rounded" style="width:200px;height:200px"  >
			</a>
			<p class="slike">Restoran3</p>
			<p style="color:gray" class="slike">Adresa</p>
			</div>
            
            <div style="display:inline-block;" class="col-md-3">
            <a href="#" class="slike" >
			<img  src='/assets/images/new.jpg' alt="restoran4" class="img-rounded" style="width:200px;height:200px"  >
			</a>
			<p class="slike">Restoran4</p>
			<p style="color:gray" class="slike">Adresa</p>
			</div>
            			
        

</div>
</div>

</div>

</div>

</div>


